@model List<string>
@{
    ViewData["Title"] = "Welcome";
}
<h1>Welcome</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">System Status</dt>
        <dd class="col-sm-10 text-start">
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item"> @Html.DisplayFor(model => item)</li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">Purpose</dt>
        <dd class="col-sm-10 text-start">
            <p>This application serves as a demonstration of a secure microservices applications using ASP.NET Core, showcasing inter-linking of microservices for user authentication, data retrieval, and secure access to sensitive information.</p>
            <p>It is designed to illustrate best practices in security, data management, and user experience within a microservices architecture in Kubernetes using Minikube.</p>
        </dd>
    </dl>
</div>
