@model List<string>
@{
    ViewData["Title"] = "Welcome";
}
<h1>Welcome</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">System Status</dt>
        <dd class="col-sm-10 text-start">
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item"> @Html.DisplayFor(model => item)</li>
                }
            </ul>
        </dd>
    </dl>
</div>
